@import "tailwindcss";

:root {
  font-family: SwiftVsKotlin, system-ui, Avenir, Helventica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87); 
  background-color: #262626;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Webkit-based browsers (Chrome, Safari, etc.) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 
Hide scrollbar for Firefox
Internet Explorer and Edge
Firefox
*/
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

@font-face {
  font-family: "SwiftVsKotlin";
  src: url('./SwiftVsKotlin.ttf') format("truetype");
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #e9f3ff;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
